.header {
    max-width: 100%;
    width: 100%;
    height: var(--height-Header);
    border-bottom: 1px solid var(--colorRgbaMoss);
    box-shadow: 0 2px 4px var(--colorBoxShadow);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--colorWhite);

    @media (max-Width: 1024px) {
        height: var(--height-Header-small);
    }
}

.inner-header {
    display: flex;
    align-items: center;
    height: 100%;
}

.place-search-with-user {
    flex: 1;
    padding: 0 50px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

     @media (max-Width: 1024px) {
        padding-right: 20px;
        justify-content: flex-end;
    }
}

.login-success {
    display: flex;
    align-items: center;

    .cart-icon {
        cursor: pointer;
        color: var(--colorMoss);
        opacity: 0.6;
    }

    .img-avatar{
        width: 36px;
        height: 36px;
        border-radius: 999px;
        margin-left: 16px;
        cursor: pointer;

        img{
            width: inherit;
            height: inherit;
            border-radius: inherit;
        }
    }
}

.menu-icon{
        color: var(--colorMoss);
}