@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;600;700&family=Inter:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorWhite: #fff;
    --colorPrimary: #876445;
    --colorMilkBee: #EDDFB3;
    --colorSyntax: #171010;
    --colorMoss: #2C3639;
    --colorRgbaMoss: #42525735;
    // --colorRgbaMoss: #2c363947; 

    --height-Header : 64px;
    --padding-Header: 0 70px;

    --height-Header-small : 54px;

    --logoFontSize: 30px;

    --width-logo-area: 320px;
}

html{
    font-family: 'IBM Plex Sans', sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
    -webkit-tap-highlight-color: transparent;
    width: inherit;
    height: inherit;
}

body{
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}

button,input,textarea{
    font-family: 'Inter', sans-serif;;
    outline: none;
    border: none;
}